# Godot 4+ specific ignores
.godot/

# Sketches
*.mdp

# Placeholders
Placeholders/

# Raw Sprites/Tilesets
*.pdn
Player/Sprites/

# Sound effects, & external/premade assets
# idk where to put the license/credit
# i just put the credits in-game and in game's page
Sound Effects/
Music/
UI/Font/
UI/Sprites